body {
    background-image: url('../home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    color: white; 
}
.form-container {
    border: 1px solid white;
    border-radius: 10px;
    /* background: rgba(255, 255, 255, 0.2);  */
    backdrop-filter: blur(10px); 
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
}

.form-control {
    background-color: transparent;
    border: 1px solid white;  
    color: white;
    padding: 10px;
    border-radius: 4px;
}
.btn-primary {
    background-color: transparent; 
    color: white; 
    border: 1px solid white;
}
.btn-primary:hover {
    background-color: #f0f0f0; 
    color: black;
}